<div class="author">
    <h1 class="author__heading">
        Hi, I Am Wealth
    </h1>
    <p class="author__body">
        Web and App Developer
    </p>
</div>

<img src="https://st4.depositphotos.com/3913827/20869/i/450/depositphotos_208696354-stock-photo-guy-checkered-shirt-standing-pier.jpg" alt="" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">
        <ul class="article-ul">
            <li>
                <a href="">
                    <span>Post Title</span>
                    <span class="article-list__date">
                        Date
                    </span>
                </a>
            </li>
        </ul>
    </h2>
</section>